body {
  background-color: #F3F4F6;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2171b2;
  color: white;
  padding: 10px 120px;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 20px;
}

header p {
  margin: 0;
  font-size: 16px;
}

header .hotline {
  display: flex;
  margin-left: auto;
}

header .hotline1 {
  font-size: 13.6px;
  padding: 0px 0px 0px 75px;
}

header .hotline2 {
  font-size: 13.6px;
  padding: 0px 0px 0px 75px;
}

header .hotline h4,
header .hotline p {
  display: flex;
  margin: 0;
  text-align: right;
}

.button {
  text-align: center;
  font-size: 13.6px;
  padding: 12px;
  background-color: #194c92;
  color: white;
  text-decoration: none;
  border-radius: 32px;
  margin-left: 150px;
  display: inline-block;
}

nav {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.column p {
  font-size: 11px;
  font-weight: bold;
  color: black;
}

li a:hover,
li p:hover,
li strong:hover,
.dropdown:hover .dropbtn {
  background-color: #004233;
  color: #ffffff;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 800px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
}

.dropdown-content .column p,
.dropdown-content p,
.dropdown-content a {
  font-size: 13px;
  color: #333;
  padding: 8px 0;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.3s, padding-left 0.3s;
}

.dropdown-content .column p {
  font-size: 14px;
  margin-top: 15px;
  margin-left: 15px;
  padding-bottom: 5px;
}

.dropdown-content .column {
  float: left;
  width: 25%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.dropdown-content .column h3 {
  font-size: 14px;
  margin-top: 0;
  color: #007b5e;
  border-bottom: 2px solid #007b5e;
  padding-bottom: 5px;
}

.dropdown-content a:hover,
.dropdown-content p:hover {
  background-color: black;
  padding-left: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 768px) {
  .dropdown-content {
    min-width: 100%;
    box-shadow: none;
  }

  .dropdown-content .column {
    width: 100%;
  }

  li a {
    font-size: 13px;
  }

  .dropbtn {
    padding: 12px 10px;
  }
}


.banner {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.slide-show {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.list-imgs {
  display: flex;
  width: 100%;
}

.list-imgs img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slide-btn#prevBtn {
  left: 10px;
}

.slide-btn#nextBtn {
  right: 10px;
}

.slide-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  font-size: 30px;
}

.information a {
  color: #334862;
  text-decoration: none;
  padding: 8px 0;
}

.information a:hover {
  color: #ff6f61;
}

.banner2 {
  position: relative;
  width: 780px;
  margin: 0;
  overflow: hidden;
}

.slide-show2 {
  width: 780px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-imgs2 {
  display: flex;
  transition: transform 0.7s ease-in-out;
  gap: 10px;
  /* Khoảng cách giữa các hình */
}

.list-imgs2 img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.slide-btn2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px;
  /* Giảm padding cho nút */
  cursor: pointer;
  z-index: 10;
}

#prevBtn2 {
  left: 0px;
}

#nextBtn2 {
  right: 0px;
}

.slide-btn2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.list-imgs2 p {
  font-size: 14px;
  color: #777777;
  margin: 2px 0;
  /* Giảm khoảng cách trên và dưới của thẻ p */
}

.list-imgs2 strong {
  color: #1f2937;
  padding: 3px 0;
  /* Giảm khoảng cách trên dưới cho nội dung strong */
  font-size: 16px;
  letter-spacing: -0.5px;
  display: block;
  text-align: center;
  margin: 2px 0;
  /* Giảm khoảng cách trên và dưới của thẻ strong */
}

.banner3 {
  position: relative;
  width: 780px;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
}

.slide-show3 {
  width: 100%;
  overflow: hidden;
}

.list-imgs3 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-item1 {
  flex: 0 0 33.4%;
  /* Đảm bảo mỗi ảnh chiếm 1/3 chiều rộng */
}

.list-imgs3 img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.slide-btn3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
}

#prevBtn3 {
  left: 0px;
}

#nextBtn3 {
  right: 0px;
}

.slide-btn3:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.list-imgs3 p {
  font-size: 14px;
  color: #777777;
  margin: 2px 0;
}

.list-imgs3 strong {
  color: #1f2937;
  padding: 3px 0;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: block;
  text-align: center;
  margin: 2px 0;
}

.banner4 {
  position: relative;
  width: 780px;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
}

.slide-show4 {
  width: 100%;
  overflow: hidden;
}

.list-imgs4 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-item2 {
  flex: 0 0 33.4%;
  /* Đảm bảo mỗi ảnh chiếm 1/3 chiều rộng */
}

.list-imgs4 img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.slide-btn4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
}

#prevBtn4 {
  left: 0px;
}

#nextBtn4 {
  right: 0px;
}

.slide-btn4:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.list-imgs4 p {
  font-size: 14px;
  color: #777777;
  margin: 2px 0;
}

.list-imgs4 strong {
  color: #1f2937;
  padding: 3px 0;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: block;
  text-align: center;
  margin: 2px 0;
}

.banner5 {
  position: relative;
  width: 780px;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
}

.slide-show5 {
  width: 100%;
  overflow: hidden;
}

.list-imgs5 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-item3 {
  flex: 0 0 33.4%;
  /* Đảm bảo mỗi ảnh chiếm 1/3 chiều rộng */
}

.list-imgs5 img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.slide-btn5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
}

#prevBtn5 {
  left: 0px;
}

#nextBtn5 {
  right: 0px;
}

.slide-btn5:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.list-imgs5 p {
  font-size: 14px;
  color: #777777;
  margin: 2px 0;
}

.list-imgs5 strong {
  color: #1f2937;
  padding: 3px 0;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: block;
  text-align: center;
  margin: 2px 0;
}

.banner-container {
  position: relative;
  width: 780px;
  /* Đủ để chứa 3 thông báo mỗi lần */
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
}

.banner-container h3 {
  font-size: 30px;
  color: #334862;
}

.notification-list p {
  font-size: 14px;
  color: #777777;
  margin: 2px 0;
}

.notification-list strong {
  color: #1f2937;
  padding: 3px 0;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: block;
  text-align: center;
  margin: 2px 0;
}

.navigation-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
}

.notification-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.notification-item {
  flex: 0 0 250px;
  /* Điều chỉnh chiều rộng để hiển thị 3 thông báo trong container 780px */
  margin-right: 10px;
}

.slideshow-container {
  overflow: hidden;
}

#previous-button {
  left: 0;
}

#next-button {
  right: 0;
}

.navigation-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.main {
  width: 65%;
  /* Chiều rộng của phần chính */
}

.right-section {
  flex: 1;
  width: 100%;
  margin-bottom: auto;
  margin-left: 20px;
  /* Khoảng cách giữa phần chính và khối bên phải */
}

.notification-list {
  display: flex;
  justify-content: space-between;
}

.notification-item {
  width: 100%;
  /* Chia đều cho 3 phần */
  text-align: center;
  /* Căn giữa nội dung trong mỗi phần */
  box-sizing: border-box;
  /* Đảm bảo padding và border không làm tăng kích thước phần tử */
}

.image-list {
  width: 100%;
}

.intro {
  background-color: #F3F4F6;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  /* Giữa trang */
  max-width: 300px;
  /* Giới hạn chiều rộng */
  text-align: center;
  /* Căn giữa toàn bộ nội dung */
}

.intro h2 {
  font-size: 20px !important;
  color: #446084;
  text-align: left;
  /* Căn giữa tiêu đề */
  margin: 10px 0;
  /* Khoảng cách giữa các tiêu đề */
}

.intro iframe {
  text-align: center;
  max-width: 100%;
}

.notification {
  margin: 20px 0;
  /* Khoảng cách phía trên và dưới */
}

.notification img {
  max-width: 100%;
  /* Đảm bảo ảnh không vượt quá chiều rộng của khung */
  height: auto;
  /* Tự động điều chỉnh chiều cao */
  width: 100%;
  /* Giảm kích thước ảnh xuống 50% */
}

.icons {
  display: flex;
  justify-content: center;
  /* Căn giữa các biểu tượng */
  margin: 20px 0;
}

.icons img {
  margin: 0 10px;
  /* Giảm khoảng cách giữa các biểu tượng */
  width: 50px;
  /* Thay đổi kích thước biểu tượng */
  height: 50px;
  /* Thay đổi kích thước biểu tượng */
}

.additional-images {
  display: flex;
  flex-direction: column;
  /* Sắp xếp theo chiều dọc */
  align-items: center;
  /* Căn giữa các hình ảnh */
  margin: 20px 0;
}

.additional-images img {
  margin: 10px 0;
  /* Khoảng cách giữa các hình ảnh */
  width: 100%;
  /* Điều chỉnh kích thước hình ảnh */
  height: auto;
  /* Tự động điều chỉnh chiều cao */
}

.link {
  text-align: center;
  /* Căn giữa liên kết */
  margin-top: 10px;
}

.link a {
  font-size: 22.4px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}





.formset {
  background-color: #2171b2;
  display: flex;
  margin-bottom: 0px;
}

.formset label {
  font-weight: bold;
}

.form {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
  background-color: white;
}

.form img {
  height: 450px;
}

section {
  background: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"] {
  width: 600px;
  height: 35px;
  /* Chiều rộng cố định */
  box-sizing: border-box;
}

textarea {
  width: 100%;
  /* Chiều rộng ban đầu 100% */
  resize: both;
  /* Cho phép kéo dãn theo cả chiều dọc và ngang */
  max-width: 600px;
  /* Chiều rộng tối đa 600px */
  max-height: 600px;
  /* Chiều cao tối đa 600px */
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.container {
  background-color: #F3F4F6;
  display: flex;
  justify-content: flex-start;
  padding: 30px 0px 0px;
  margin: 0px 130px;
  align-items: center;
}

.container h4 {
  color: #4475B9;
}

.container h2 {
  font-size: 13.6px;
}

#location,
#contact {
  flex: 1;
  display: block;
}

#contact p {
  font-weight: bold;
  color: black;
  margin: 0px 0px 8.16px;
}

#contact a {
  color: #334862;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

#location {
  font-size: 13.6px;
  margin: 0px 0px 24px;
  text-align: left;
  padding: 0px 15px;
}

#location p {
  color: #777777;
}

#contact {
  font-size: 13px;
  margin: 0px 0px 24px;
  padding: 0px 15px;
}

footer p.copyright {
  margin-top: 20px;
  font-size: 12px;
}

footer {
  background-color: #F3F4F6;
  color: rgba(0, 0, 0, .5);
  font-size: 12px;
  text-align: center;
}

footer h2 {
  color: black;
  font-size: 18px;
}

footer p {
  color: black;
  font-size: 12px;
  background-color: #F3F4F6;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}