.grid-container{
    display: flex;
    grid-template-columns: 70% 30%;
    height:100%;
    text-align: center;
}
.right-column {
  
    flex: 3;
    background-color: #e0e0e0;
  
  }
.left-column {
    flex: 7;
    background-color: white;
  
    margin:  auto;
  
 
  }
  .img{
    max-width: 100%; /* Đặt chiều rộng của ảnh là 200px */
 
    padding-left: 10px;
    margin: 10px 20px 10px 10px;

  
  }

 